<div class="row">
    <div class="col-md-12">
        <div ng-repeat="i in range">
            <div class="col-md-10" style="border: 1px dashed gainsboro;">
                <a class='btn btn-sm btn-success'
                   onclick="getfile(this)" name="pdf_button{{i}}" item = "{{i}}"
                   id="pdf__button{{i}}" style="background: #EAEAEA;color: black;border-color: #7B7B7B;">
                    Select file
                </a>
                <input type="file" name="pdf_{{i}}" item = "{{i}}" id="pdf_{{i}}" ng-repeat="i in range"
                       style="padding-top: 3px;visibility: hidden;height: .1px;"
                       onchange="angular.element(this).scope().validateImageFile(this)">
            </div>
            <div class="col-md-6" id="pdf__name_{{i}}"></div>
        </div>
    </div>
</div>

<script>
    var getfile = function(element){

        var item = $(element).attr("item");
        $('#pdf_'+item).trigger('click');

    }
</script>