<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Departments</h5>
            <div class="ibox-tools">
                <button style="margin-top: -3%; color: #fff; background-color:#286090; " type="button" class="btn  pull-right ">
                    Total Document <span class="badge ng-binding"> {{total}} </span>
                </button>

            </div>
        </div>

        <div class="ibox-content">
            <get-filter></get-filter>
            <loader></loader>
            <document-list></document-list>
        </div>

    </div>
</div>