
<div class="row">
    <div class="col-lg-12" ng-init="getDocuments()">
        <div ng-if="!loader" class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category Name</th>
                    <th>Sub Category Name</th>
                    <th>Uploading Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="documentData.length" ng-repeat="details in documentData">
                    <td>{{details.title}}</td>
                    <td>{{details.category_name}}</td>
                    <td>{{details.sub_category_name}}</td>
                    <td>{{details.uploading_date}}</td>
                    <td>
                        <a target="_blank" href="{{URL + details.pdf_name}}">
                            <button class="btn btn-primary btn-sm" type="button">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Pdf
                            </button>
                        </a>
                        <button ng-click="deleteDocument(details.document_id)" class="btn btn-danger btn-sm" type="button">
                            <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete
                        </button>
                    </td>
                </tr>
                <tr ng-show="!documentData.length">
                    <td style="text-align: center" colspan="5"><p><span class="label label-danger">No Document Found.</span></p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>