
    <div ng-init="getFilters()">

        <div class="row">
            <div class="col-lg-12">
                        <div id="documentListFilters" class="row">
                            <div ng-show="addTitleFilter" class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" id="document_title" name="document_title" value="" placeholder="Document Title" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select ng-change="getSubCategoryList()" ng-model="searchFields.category_name" name="category" id="category" class="form-control">
                                        <option value="" selected="selected">Select Category</option>
                                        <option ng-repeat="(category_name,subCategoryDetail) in filterData" value="{{category_name}}">
                                            {{category_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div ng-if="subCategoryList" class="col-sm-4">
                                <div class="form-group">
                                    <select  name="sub-category" id="sub-category" class="form-control" ng-model="searchFields.subcategory_name" >
                                        <option value="" selected="selected">Select Sub Category</option>
                                        <option ng-repeat="(sub_category_name,subCategoryDetail) in subCategoryList" value="{{sub_category_name}}">
                                            {{sub_category_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <button ng-click="getDocuments()"  class="btn btn-primary">
                                        <i class="fa fa-filter"></i> Filter
                                    </button>
                                    <button ng-click="resetFilters('documentListFilters')" class="btn btn-primary " type="button">
                                        <i class="fa fa-refresh"></i>&nbsp;Reset
                                    </button>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
