<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Manage Documents</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" method="POST" ng-submit="addDocumentDetail()">
                        <get-filter></get-filter>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>