<div class="col-lg-12" ng-init="viewEventDetail()">
    <div>
        <div class="chat-activity-list">
            <div class="chat-element" ng-repeat="data in viewEventData">
                <div class="media-body">

                    <div class="row">
                        <div class="col-lg-8" style="margin-top: 5px;">
                            <span style="">
                        <i class="fa fa-money" ng-if="data.is_paid == '1'" title="Paid"></i>
                        <a ng-click="getEventDetail(data.id, 'interested');">
                        <strong>
                            {{data.event_name}}&nbsp;
                            <sup style="background-color: #1C84C6;border-radius: 50%;color: white;padding: 2px;" title="Attendee/Total Limit">
                                {{data.attendee_count ? data.attendee_count : 0}}{{is_paid}}
                                <span ng-if="data.is_paid !== '1'">
                                    /{{data.free_limit}}
                                </span>

                            </sup> &nbsp;</strong>
                        </a>
                    </span>
                            <!--
                                <a ng-click="getEventDetail(data.id, 'interested');">
                                    <span ng-show= "totalApplication[data.id]" class="">
                                        &nbsp;&nbsp;
                                        <strong style="color: #0F6F70;border-radius: 40%;padding: 1px 14px 1px 14px">
                                            Available Comments : {{totalApplication[data.id]}}
                                        </strong>
                                    </span>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a ng-click="shareEvent(data.id, data.title)" class="pull-right" title="Share">
                                    <i class="btn btn-xs fa fa-share-alt fa-2x green" style="font-size: 180% !important;"></i>
                                </a>
                            -->




                            <!--<small class="pull-right" style="padding: 5px;">-->
                            <!--<strong>-->
                            <!--Event Date:-->
                            <!--</strong>-->
                            <!---->
                            <!--{{data.event_date | getDateFormat}}-->

                            <!--</small>-->

                            <p class="m-b-xs" ng-if="data.event_schedule" style="word-break: break-all;">
                                <strong>Description:</strong> {{data.event_schedule}}
                            </p>
                            <p class="m-b-xs" ng-if="data.created_at">
                                <strong>Created at:</strong> {{data.created_at | getDateFormat}}
                            </p>
                        </div>

                        <div class="col-lg-4" style="margin-top: 5px;">
                            <p style="margin-left: -5px;margin-bottom: -5px;">
                                <a ng-click="sendSms(data, 'event/send-sms')" title="Send SMS">
                                    <i class="btn btn-xs fa fa-envelope fa-2x green" style="font-size: 150% !important;"></i>
                                </a>Send SMS to share
                                &nbsp;&nbsp;&nbsp;

                                <a ng-click="editEvent(data.id);resetFile('edit');" title="Edit">
                                    <i class="btn btn-xs fa fa-pencil-square-o fa-2x green" aria-hidden="true" style="font-size: 150% !important;"></i>
                                </a>Edit
                                &nbsp;&nbsp;&nbsp;

                                <a ng-click="deleteEvent(data.id)" title="Delete">
                                    <i class="btn btn-xs fa fa-trash-o fa-2x red" aria-hidden="true" style="font-size: 140% !important;"></i>
                                </a>Delete
                                &nbsp;&nbsp;&nbsp;

                                <i class="fa fa-spinner fa-spin fa-fw" id="spinLoader_{{data.id}}" style="display: none;font-size: 1.5em;"></i>
                            </p>
                        </div>
                    </div>




                </div>


            </div>
            <div class="text-center" ng-show="!viewEventData.length">
                <strong style="font-size: 15px;">
                    There is no records to view
                </strong>
            </div>
            <div class="topPadding">
                <button ng-click="viewEvent = !viewEvent; addEvent = !addEvent;resetFields();resetFile('');"
                        class="btn btn-w-m btn-success">
                    <i class="fa fa-plus"></i>
                    Add Event</button>
            </div>
        </div>
    </div>
</div>