<div class="col-lg-12">
    <div class="chat-activity-list">
        <div class="chat-element">
            <div class="media-body" ng-if="customerDetailData[0].totalExpByCompany.length">
                <hr/>
                <p class="m-b-xs">
                    <strong style="font-size: 5mm;">Status: &nbsp;</strong><br/>
                <div class="row">
                    <div class="col-md-4">
                        {{(customerDetailData[0].employment_status) ? customerDetailData[0].employment_status : 'NA'}}
                    </div>
                </div>
                </p>

                <p class="m-b-xs">
                    <strong style="font-size: 5mm;">Videos: &nbsp;</strong><br/>
                <div class="row">

                    <div class="col-md-4" ng-repeat="(key, value) in customerDetailData[0].vedios">
                        <div ng-if="value" ng-bind-html="value.video_path | vedio:this"></div>
                        <div style="height: 50px !important;">
                            {{value.video_text}}
                        </div>
                        <br/>
                    </div>

                    <div ng-show="!customerDetailData[0].isVedio">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No video added..
                    </div>
                </div>
                </p>

                <p class="m-b-xs">
                    <strong style="font-size: 5mm;">Personal Detail: &nbsp;</strong>
                    <br/>
                <table style="width: 100%;">
                    <colgroup>
                        <col style="width:50%">
                    </colgroup>
                    <tr>
                        <td>
                            <table class="table table-striped" style="width:100%">
                                <colgroup>
                                    <col style="width:30%">
                                </colgroup>
                                <tr><td><strong>Name</strong></td>
                                    <td>{{customerDetailData[0].name}} ({{customerDetailData[0].gender}})</td></tr>
                                <tr><td><strong>DOB</strong></td>
                                    <td>{{customerDetailData[0].dob | getDateFormat}}</td></tr>
                                <tr><td><strong>Email</strong></td>
                                    <td>
                                        <a href="">{{customerDetailData[0].email}}</a>
                                    </td>
                                </tr>
                                <tr><td><strong>Race</strong></td>
                                    <td>{{customerDetailData[0].race}}</td></tr>
                                <tr><td><strong>City</strong></td>
                                    <td>{{customerDetailData[0].city}}</td></tr>
                                <tr><td><strong>State</strong></td>
                                    <td>{{filter.stateByCountry[customerDetailData[0].country][customerDetailData[0].state]}}</td></tr>
                                <tr><td><strong>Nationality</strong></td>
                                    <td>
                                        <!--{{filter.country[customerDetailData[0].country]}}-->
                                        {{customerDetailData[0].nationality}}
                                    </td></tr>
                                <tr><td><strong>Phone</strong></td>
                                    <td>{{customerDetailData[0].phone}}</td></tr>
                                <!--<tr><td><strong>Contact</strong></td><td>{{customerDetailData[0].contact}}</td></tr>-->
                            </table>
                        </td>

                        <td valign="top" ng-if="customerDetailData[0].profile_image">
                            <img alt="profile image" title="profile image"
                                 style="margin-left: 30%;border: 1px solid black;"
                                 src="{{customerDetailData[0].profile_image}}" onload="getImageSize(this)">
                        </td>
                        <!--<td style="display: none" id="imageSize">{{customerDetailData[0].orientation}}</td>-->

                        <td valign="top" ng-if="!customerDetailData[0].profile_image">
                            <img alt="profile image" title="profile image"
                                 style="width: 200px;height: 200px;margin-left: 30%;border: 1px solid black;"
                                 src="img/no-profile.jpg">
                        </td>

                    </tr>
                </table>

                </p>

                <p class="m-b-xs">
                    <strong style="font-size: 5mm;">Experience: &nbsp;</strong>
                    <br/>
                <table class="table table-striped" style="width:50%" ng-repeat="(key, value) in customerDetailData[0].company_name">
                    <colgroup>
                        <col style="width:30%">
                    </colgroup>
                    <tr><td><strong>Company Name</strong></td>
                        <td>{{value}}</td></tr>
                    <tr><td><strong>Designation</strong></td>
                        <td>{{customerDetailData[0].designation[key]}}</td></tr>
                    <tr><td><strong>Skill</strong></td>
                        <td>{{customerDetailData[0].skill[key]}}</td></tr>
                    <tr><td><strong>Industry</strong></td>
                        <td>{{filter.industry[customerDetailData[0].cmpIndustry[key]][0]['category']}}</td></tr>
                    <tr><td><strong>Subcategory</strong></td>
                        <td>{{filter.subcategory[customerDetailData[0].cmpIndustryCategory[key]]}}</td></tr>
                    <tr><td><strong>Worked</strong></td>
                        <td ng-if="customerDetailData[0].expFrom[key]">
                            {{customerDetailData[0].expFrom[key] | getDateFormat}} to {{customerDetailData[0].expTill[key] | getDateFormat}}
                        </td>
                        <td ng-if="!customerDetailData[0].expFrom[key]"></td>
                    </tr>
                </table>
                </p>

                <p class="m-b-xs">
                    <strong style="font-size: 5mm;">Qualification: &nbsp;</strong><br/>
                <table class="table table-striped" style="width:50%" ng-repeat="(key, value) in customerDetailData">
                    <colgroup>
                        <col style="width:30%">
                    </colgroup>
                    <tr><td><strong>Qualification Type</strong></td>
                        <td>{{value.qualificationType[0]}}</td></tr>
                    <tr ng-if="value.qualificationType[0] == 'tertiary'">
                        <td><strong>Qualification</strong></td>
                        <td>{{value.qualification[0]}}</td>
                    </tr>
                    <tr ng-if="value.qualificationType[0] == 'tertiary'">
                        <td><strong>Degree</strong></td>
                        <td>{{value.degree[0]}}</td>
                    </tr>
                    <tr ng-if="value.qualificationType[0] == 'tertiary'">
                        <td><strong>Majors</strong></td>
                        <td>{{value.major}}</td>
                    </tr>
                    <tr>
                        <td ng-if="value.qualificationType[0] == 'tertiary'">
                            <strong>Institute</strong>
                        </td>
                        <td ng-if="value.qualificationType[0] == 'secondary'">
                            <strong>School</strong>
                        </td>
                        <td>{{value.institute[0]}}</td>
                    </tr>
                    <tr ng-if="value.qualificationType[0] == 'secondary'">
                        <td><strong>Level Completed</strong></td>
                        <td>{{value.level}}</td>
                    </tr>
                    <tr ng-if="value.qualificationType[0] == 'secondary'">
                        <td><strong>Subject & Mark</strong></td>
                        <td>
                <span ng-repeat="(marksKey, marksValue) in customerDetailData[0].marks[value['qualificationId']]">
                    {{marksKey}} ({{marksValue}}),
                </span>
                        </td>
                    </tr>
                    <tr><td><strong>Year</strong></td>
                        <td>{{value.qualificationYear[0]}}</td></tr>
                </table>
                </p>


                <p class="m-b-xs">
                    <strong style="font-size: 5mm;">Looking for: &nbsp;</strong><br/>
                <table class="table table-striped" style="width:50%">
                    <colgroup>
                        <col style="width:30%">
                    </colgroup>
                    <tr><td><strong>Job type</strong></td>
                        <td>{{customerDetailData[0].job_type}}</td></tr>
                    <tr><td><strong>Payment type</strong></td>
                        <td>{{customerDetailData[0].payment_type}}</td></tr>
                    <tr><td><strong>Preferred location</strong></td>
                        <td>{{customerDetailData[0].preferred_location}}</td></tr>
                    <tr><td><strong>Desired salary</strong></td>
                        <td>{{customerDetailData[0].salary}}</td></tr>
                </table>
                </p>

                <p class="m-b-xs">
                    <strong style="font-size: 5mm;">Additional Info: &nbsp;</strong><br/>
                <table class="table table-striped" style="width:50%">
                    <colgroup>
                        <col style="width:30%">
                    </colgroup>
                    <tr><td><strong>SSN</strong></td>
                        <td>{{customerDetailData[0].ssn}}</td></tr>
                    <tr><td><strong>Health</strong></td>
                        <td>{{customerDetailData[0].health}}</td></tr>
                    <tr><td><strong>Work permit</strong></td>
                        <td>{{customerDetailData[0].work_permit}}</td></tr>
                </table>
                </p>
            </div>
        </div>

        <div class="topPadding">
            <a ng-click="detailUser=false;viewUser=true" class="btn btn-w-m btn-default">
                <i class="fa fa-chevron-circle-left fa-1x"></i>&nbsp;
                Back
            </a>
        </div>
    </div>
</div>